.banner-container {
  display: flex;
  display: block;

}

.bg-banner { 
    max-width: 1600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid white;
    background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/main/bg-banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .banner {
  //мобил //таблетка
    background-color: #2f303a;
    padding-top: 118px;
    padding-bottom: 118px;



   
// дисктоп
    @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

     }
  }
  
  
  
  .banner-container__title {

    
// mobil
      
  
      max-width: 360px;
      font-weight: 900;
      margin: 0 auto;
      font-size: 26px;
      line-height: calc(42 / 26);
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      
      color: #FFFFFF;
    


    @media screen and (min-width: 768px) {
      max-width: 360px;
      font-weight: 900;
      font-size: 26px;
      margin: 0 auto;
      line-height: calc(42 / 26);
     
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      
      color: #FFFFFF;
     }
   

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-weight: 900;
      font-size: 44px;
      margin: 0 auto;
      line-height: calc(60 / 44);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.06em;
    }

  }
  
 




