.studio {
// мобил / таблетка
  padding-top: 60px;
  padding-bottom: 60px;


// дисктоп
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  }
    
  .studio-list {
// мобил 
margin-bottom: -30px;
    
    
    
  
//таблетка
    // @media screen and (min-width: 768px) {
    //   display: flex;
    //   justify-content: space-between;

    // }


// дисктоп
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
            
      }


  }
  
  .studio-list__icon {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #F5F4FA;;
  
  }
  
  .studio-list__title {

    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);

//мобил
    @media screen and (max-width: 480px), (max-width: 768px)  {
      display: flex;
      justify-content: center;
    }
    
   
  }

  .studio-list__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;

//мобил



// дисктоп
    // max-width: 270px;
    // min-height: 75px;
    // display: block;
   
  }
  
  
  

  